body{
    background-color: paleturquoise;
}

h1{
    color: darkslategrey;
    background-color: rgb(207, 173, 230);
}

#show-sketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:25px;
    animation-name: example;
    animation-duration:2s ;
    margin-top: 50px;
    animation-iteration-count:infinite ;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px rgb(183, 241, 89);}
    from {box-shadow: 1px 1px 38px rgb(224, 226, 112);}
}
